<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="#">IAT 343</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#content" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="content">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/script">Script</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/concept">Concept</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/storyboard">Storyboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled">Animatic</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled">Final</a>
      </li>
    </ul>
  </div>
</nav>