html {
    min-height: 100%;
    position: relative;
}

body {
    height: 100%;
}

.page-enter-active, .page-leave-active {
    transition: opacity .5s;
}

.page-enter, .page-leave-to {
    opacity: 0;
}